<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<body>
<svg th:fragment="hero-expense" viewBox="0 0 100 100" xmlns="http://www.w3.org/2000/svg" fill="none" stroke="#1e3a8a"
     stroke-width="3" stroke-linecap="round" stroke-linejoin="round">
    <path d="M30 15 H70 V75 L65 70 L60 75 L55 70 L50 75 L45 70 L40 75 L35 70 L30 75 Z" fill="#eff6ff"/>

    <line x1="40" y1="30" x2="60" y2="30" stroke="#bfdbfe"/>
    <line x1="40" y1="40" x2="60" y2="40" stroke="#bfdbfe"/>
    <line x1="40" y1="50" x2="50" y2="50" stroke="#bfdbfe"/>

    <circle cx="75" cy="70" r="19" fill="#ffffff" stroke="none"/>

    <circle cx="75" cy="70" r="16" fill="#bfdbfe"/>
    <path d="M75 70 L75 54 A 16 16 0 0 1 91 70 Z" fill="#2563eb"/>
</svg>
<svg th:fragment="hero-wallet" viewBox="0 0 100 100" xmlns="http://www.w3.org/2000/svg" fill="none" stroke="#1e3a8a"
     stroke-width="3" stroke-linecap="round" stroke-linejoin="round">
    <path d="M30 15 H70 V75 L65 70 L60 75 L55 70 L50 75 L45 70 L40 75 L35 70 L30 75 Z" fill="#eff6ff"/>

    <line x1="40" y1="30" x2="60" y2="30" stroke="#bfdbfe"/>
    <line x1="40" y1="40" x2="60" y2="40" stroke="#bfdbfe"/>
    <line x1="40" y1="50" x2="50" y2="50" stroke="#bfdbfe"/>

    <circle cx="75" cy="70" r="19" fill="#ffffff" stroke="none"/>

    <circle cx="75" cy="70" r="16" fill="#bfdbfe"/>
    <path d="M75 70 L75 54 A 16 16 0 0 1 91 70 Z" fill="#2563eb"/>
</svg>
</body>
</html>
