<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="de">
<body>
<div th:fragment="content">
    <h1 th:text="${account.firstName + ' ' + account.lastName}"></h1>
    <dl>
        <dt>Username</dt>
        <dd th:text="${account.username}"></dd>
        <dt>E-Mail</dt>
        <dd th:text="${account.email}"></dd>
        <dt>Tenant</dt>
        <dd th:text="${tenant.name}"></dd>
    </dl>

    <h2>Mitreisende (Dependents)</h2>
    <div id="dependents"
         hx-get th:hx-get="@{/tenants/{tid}/accounts/{aid}/dependents(tid=${tenant.tenantId},aid=${account.accountId})}"
         hx-trigger="load"
         hx-swap="innerHTML">
    </div>

    <p><a th:href="@{/tenants/{id}/accounts(id=${tenant.tenantId})}">Zurueck zur Liste</a></p>
</div>
</body>
</html>
